{{ partial "default_master" . }}

    <h1>{{ title .Title }}</h1>

    <div id="cattags">
      <span><a href="/category">categories</a>, <a href="/tag">tags</a>, <a href="./index.xml">rss</a></span>
    </div>

{{ .Content }}

    <section>
    {{ $prev := 3000}}
    {{ range where .Site.RegularPages ".Params.category" "intersect" (slice "photography") }}

      {{if .Date}}
      {{if gt $prev (.Date.Format "2006")}}
      {{ if ne $prev 3000}}
        </table>
      {{ end }}
      <h2>{{ .Date.Format "2006" }}</h2>
      <table class="posts-index">
      {{end}}
      <tr>
        <td class="posts-table-date">{{.Date.Format "02 Jan"}}</td>
        <td class="posts-table-link"><a href="{{.Permalink}}">{{ title .Title | markdownify }}</a></td>
      </tr>
      {{ $prev = .Date.Format "2006"}}
      {{end}}
    {{end}}
  </table>
  </section>

{{ partial "footer" . }}
