{{ partial "default_master" . }}

<div class="h-entry">
<div id="post-head">

  <div id="post-titlebox">
    <h1 id="post-title" class="p-name">{{ title .Title | markdownify }}</h1>
    <span id="post-description" class="p-summary"><p>{{ .Param "description" | safeHTML }}</p></span>
  </div>

  <div id="post-metabox">
      <div id="post-pubdate">
        <span id="post-pubdate-label"><a class="u-url" rel="permalink" href="{{ .Permalink }}">Published:</a> </span><span class="post-pubdate-date dt-published" alt="{{ .Param "date" }}" title="{{ .Param "date" }}">{{ .Param "date" | time.Format ":date_medium"  }}</span>
      </div>

      {{ if isset .Params "category" }}
      <div id="post-categories">
        <span id="post-categories-label"><a href="/category/">Category:</a> </span>
        {{ with .Params.category }}
          {{ range $i, $tag := (. | sort) }}
            <span class="post-categories-category p-category"><a href='/category/{{ . | urlize }}'>{{ . | title }}</a></span><span>{{ if ne $i (sub (len $.Params.category) 1) }}, {{ else }}{{ end }}</span>
          {{ end }}
        {{end}}
      </div>
      {{end}}

      {{ if isset .Params "tag" }}
      <div id="post-tags">
        <span id="post-tags-label"><a href="/tag/">Tags:</a> </span>
        {{ with .Params.tag }}
          {{ range $i, $tag := (. | sort) }}
            <span class="post-tags-tag p-category"><a href='/tag/{{ . | urlize }}'>{{ . }}</a></span><span>{{ if ne $i (sub (len $.Params.tag) 1) }}, {{ else }}{{ end }}</span>
          {{ end }}
        {{end}}
      </div>
      {{end}}

    <address style="display:none" class="p-author author h-card vcard">
      <a href="https://www.ctis.me/" class="p-name fn" rel="author">Charlton Trezevant</a>
    </address>
  </div>
</div>

<div class="e-content">
{{ .Content }}
</div>
</div>
{{ partial "footer" . }}
