{{ partial "default_master" . }}

<div id="post-head">

  <div id="post-titlebox">
    <h1 id="post-title">{{ .Title }}</h1>
    <span id="post-description"><p>{{ .Param "description" | safeHTML }}</p></span>
  </div>

  <div id="post-metabox">
      <div id="post-pubdate">
        <span id="post-pubdate-label"><a href="/photography/">Published:</a> </span><span class="post-pubdate-date">{{ .Param "date" | time.Format ":date_medium"  }}</span>
      </div>

      {{ if isset .Params "category" }}
      <div id="post-categories">
        <span id="post-categories-label"><a href="/category/">Category:</a> </span>
        {{ with .Params.category }}
          {{ range $i, $tag := (. | sort) }}
            <span class="post-categories-category"><a href='/tag/{{ . | urlize }}'>{{ . | title }}</a>{{ if ne $i (sub (len $.Params.category) 1) }}, {{ else }}{{ end }}</span>
          {{ end }}
        {{end}}
      </div>
      {{end}}

      {{ if isset .Params "tag" }}
      <div id="post-tags">
        <span id="post-tags-label"><a href="/tag/">Tags:</a> </span>
        {{ with .Params.tag }}
          {{ range $i, $tag := (. | sort) }}
            <span class="post-tags-tag"><a href='/tag/{{ . | urlize }}'>{{ . }}</a>{{ if ne $i (sub (len $.Params.tag) 1) }}, {{ else }}{{ end }}</span>
          {{ end }}
        {{end}}
      </div>
      {{end}}
  </div>
</div>

{{ .Content }}
{{ partial "footer" . }}
