{{ partial "default_master" . }}

    <h2>{{ .Title }} Index</h2>
    <p> </p>

    {{ $title := urlize .Title }}
    {{ with .Site.Taxonomies.category }}
       {{ range $name, $taxonomy := . }}
        {{ $term := urlize $name }}
        <li class="indexListItem category-list-entry">
            <a class="category-list-link" href="{{ .Page.Permalink }}">{{ title $term | markdownify }}</a>
            <span class="category-list-count">({{ $taxonomy.Count }})</span>
        </li>
        {{ end }}
    {{ end }}

{{ partial "footer" . }}
