{{ partial "default_master" . }}

  {{ $statpages := ($.Site.GetPage "section" .Section).Pages.ByPublishDate.Reverse }}

  {{ range first 1 $statpages }}

    {{ partial "shortcode_dependencies.html" . }}
    <div class="h-entry">
    <div id="post-head">

    <div id="post-titlebox">
      <h1 id="post-title" class="p-name">Status Update - {{ .Param "date" | time.Format "January 2006"  }}</h1>
      <span id="post-description" class="p-summary"><p>{{ .Param "description" | safeHTML }}</p></span>
      <span style="display:none" class="post-pubdate-date dt-published">{{ .Param "date" }}</span>
      <a style="display:none" class="u-url" rel="canonical" href="{{ .Permalink }}">Permalink</a>
      <address style="display:none" class="p-author author h-card vcard">
        <a href="https://www.ctis.me/" class="p-name fn" rel="author">Charlton Trezevant</a>
      </address>
    </div>
  </div>

    <div class="e-content">
      {{ .Content }}
    </div>
    </div>
  {{ end }}

  <br />
  <h2 class="archive-header">Archives</h2>
  <hr class="stats-table-separator" />

    <section id="stats-table-archive">
    {{ $prev := 3000}}
    {{range .Pages}}
      {{if .Date}}
      {{if gt $prev (.Date.Format "2006")}}
      {{ if ne $prev 3000}}
        </table>
      {{ end }}
      <h2 class="stats-table-year">{{ .Date.Format "2006" }}</h2>
      <table class="posts-index">
      {{end}}
      <tr class="h-entry">
        <td class="posts-table-date">{{.Date.Format "Jan"}}</td>
        <td class="posts-table-link p-name u-url"><a href="{{.Permalink}}">Status Update {{ .Param "date" | time.Format "01/06"  }}</a></td>
        <span style="display:none" class="post-pubdate-date dt-published">{{ .Param "date" }}</span>
        <address style="display:none" class="p-author author h-card vcard">
          <a href="https://www.ctis.me/" class="p-name fn" rel="author">Charlton Trezevant</a>
        </address>
      </tr>
      {{ $prev = .Date.Format "2006"}}
      {{end}}
    {{end}}
  </table>
  </section>

{{ partial "footer" . }}
