{{ partial "default_master" . }}

    <h1>{{ .Title }}</h1>
    <p> </p>

    <a href="/category">categories</a>, <a href="/tag">tags</a>

    <section>
    {{ $prev := 3000}}
    {{range .Pages}}
      {{if .Date}}
      {{if gt $prev (.Date.Format "2006")}}
      {{ if ne $prev 3000}}
        </table>
      {{ end }}
      <h2>{{ .Date.Format "2006" }}</h2>
      <table class="posts-index">
      {{end}}
      <tr>
        <td>{{.Date.Format "02 Jan"}}</td>
        <td><a href="{{.Permalink}}">{{ title .Title | markdownify }}</a></td>
      </tr>
      {{ $prev = .Date.Format "2006"}}
      {{end}}
    {{end}}
  </table>
  </section>

{{ partial "footer" . }}
