{{ partial "headers.html" . }}
<header>
    <nav class="superHeader">
        {{ partial "top_bar.html" . }}
    </nav>
    <h1 class="midHeader"><a href="/">{{ .Site.Title }}</a></h1>
</header>

    <nav id="side-bar">
        <div>

        <ul class="dir-list">
            {{ range .Site.Home.Pages }}
            <li>
                <a class="sidebarLink" href="{{ .RelPermalink }}">› {{ .Title | markdownify }}/</a>
            </li>
            {{ end }}

            <li>
                <a class="sidebarLink" href="/">› Home/</a>
            </li>
        </ul>

        </div>
    </nav>
    <script>
        sb = document.querySelector("#side-bar");
        link = sb.querySelectorAll('a[href="'+window.location.pathname+'"]');

        link[0].innerText = link[0].textContent.replace('›', '»');
        link[0].classList.add("thisPage");
    </script>

<article>

