<!DOCTYPE HTML>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="{{ "/pub/style/style.css" | relURL }}" type="text/css" media="screen, handheld" title="default">
    <link rel="shortcut icon" href="https://cdn.ctis.me/file/ctisme-cdn/www.ctis.me/resources/images/favicon.png" type="image/vnd.microsoft.icon">

    <link rel="canonical" href="{{ .Permalink }}" />
    <meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">

    <meta name="author" content="Charlton Trezevant">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ if .Params.title }}{{ .Params.title }}{{ else }}{{ .Site.Title }}{{ end }}">
    <meta name="twitter:image" content="{{ .Site.Params.TwitterCardImg }}">
    <meta name="twitter:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
    <meta name="twitter:site" content="{{ .Site.Params.TwitterUsername }}">
    <meta name="twitter:creator" content="{{ .Site.Params.TwitterUsername }}">
</head>
<body>
