<div id="recently-updated-container">
  <h3 class="recently-updated-header">Recent Updates</h3>
  <section id="recently-updated-table">
    <ul class="recently-updated-posts-index">
    {{range (.Site.RegularPages.ByLastmod | last 4).Reverse }}
      <li class="h-entry">
        <a class="p-name u-url" href="{{.Permalink}}">{{ title .Title | markdownify }}</a> (in <a class="recently-updated-section" href="{{ .Section }}">{{ title .Section | markdownify }}</a>)
        <span class="dt-published" style="display:none">{{ .Param "date" }}</span>
        <span class="p-summary" style="display:none">{{ .Param "description" | safeHTML }}</span>
        <address style="display:none" class="p-author author h-card vcard">
          <a href="https://www.ctis.me/" class="p-name fn" rel="author">Charlton Trezevant</a>
        </address>

        {{ if isset .Params "category" }}
          {{ with .Params.category }}
            {{ range $i, $tag := (. | sort) }}
              <span style="display:none" class="p-category"><a href='/category/{{ . | urlize }}'>{{ . | title }}</a></span>
            {{ end }}
          {{end}}
        {{end}}

        {{ if isset .Params "tag" }}
          {{ with .Params.tag }}
          {{ range $i, $tag := (. | sort) }}
            <span style="display:none" class="p-category"><a href='/tag/{{ . | urlize }}'>{{ . }}</a></span>
          {{ end }}
        {{end}}
      {{end}}
      </li>
    {{end}}
  </ul>
  </section>
  <a id="rss-icon-link" href="/index.xml"><img alt="RSS Feed" title="RSS Feed" class="rss-feed-icon" src="https://cdn.ctis.me/file/ctisme-cdn/blog.ctis.me/img/site/rss.webp" /></a>
</div>
