{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div id="related-posts-container">
  <h3>See Also...</h3>
  <ul>
    {{ range . }}
    <li class="h-entry">
      <a class="related-posts-link p-name u-url" href="{{ .RelPermalink }}">{{ title .Title | markdownify }}</a>
      <span class="dt-published" style="display:none">{{ .Param "date" }}</span>
      <span class="p-summary" style="display:none">{{ .Param "description" | safeHTML }}</span>
      <address style="display:none" class="p-author author h-card vcard">
        <a href="https://www.ctis.me/" class="p-name fn" rel="author">Charlton Trezevant</a>
      </address>
      {{ if isset .Params "category" }}
        {{ with .Params.category }}
          {{ range $i, $tag := (. | sort) }}
              <span style="display:none" class="p-category"><a href='/category/{{ . | urlize }}'>{{ . | title }}</a></span>
          {{ end }}
        {{end}}
      {{end}}

      {{ if isset .Params "tag" }}
        {{ with .Params.tag }}
          {{ range $i, $tag := (. | sort) }}
             <span style="display:none" class="p-category"><a href='/tag/{{ . | urlize }}'>{{ . }}</a></span>
          {{ end }}
        {{ end }}
      {{ end }}
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
