{{ if .IsNamedParams }}
  <div class="cdnvid-container gallery-video-container">
    <video controls class="gallery-video" {{ if .Get "desc" }}alt="{{ .Get "desc" }}"{{ end }} {{ if .Get "desc" }}title="{{ .Get "desc" }}"{{ end }} src="https://cdn.ctis.me/file/ctisme-cdn/blog.ctis.me/video/gallery/{{ .Get "path" }}" /></video>
    <span class="gallery-description">{{ if .Get "desc" }}{{ .Get "desc" }}{{ end }}</span>
  </div>
{{ else }}
  <div class="cdnvid-container gallery-video-container">
    <video controls class="gallery-video" {{ if len .Params | eq 2 }}alt="{{ .Get 1 }}"{{ end }} {{ if len .Params | eq 2 }}title="{{ .Get 1 }}"{{ end }} src="https://cdn.ctis.me/file/ctisme-cdn/blog.ctis.me/video/gallery/{{ .Get 0 }}" /></video>
    <span class="gallery-description">{{ if len .Params | eq 2 }}{{ .Get 1 }}{{ end }}</span>
  </div>
{{ end }}
